@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Peralta&display=swap');

body{
    background-color: #DEDFDD
}

*{
    font-family: 'Alkalami', serif;

}

h1{
    font-family: 'Peralta', cursive;

}

